@function grid($col, $offset: false) {
  $width: $col / $cols * 100 + "%";
  $result: calc(#{$width} - #{$gutter});
  @if ($offset == offset){
    $gutter: $gutter / 2;
    $result: calc($width + $gutter);
    }

  @return $result;
}