@import '_reset';
@import '_variables';
@import '_media-queries';
@import '_mixing';
@import '_button';
@import '_input';
@import '_image';
@import '_function'; 
@import '_grid'; 

.container {
  max-width: 1200px;
  background: blue;
  border: 1px solid red;
  margin: 0 auto; 
  &::before, &::after {
    content: '';
    display: table;
    clear: both;
  }
}

